td {
    border-bottom: 1px solid #444;
    white-space: nowrap;
}

td:nth-child(2) { text-align: right }

td:nth-child(3) {
    max-width: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
}

th {
    max-width: 0;
    text-align: left;
}

tr > :last-child { text-align: right }

@media (max-width: 30rem) {
    td:first-child {
        max-width: 0;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        width: 100%;
    }

    tr > :nth-child(3) { display: none }
}
